/* We'll load Roboto font through the index.html instead of CSS import */
:host {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
}

section {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

article.container {
    margin-bottom: 24px;
}

@media (max-width: 380px) {
    article.container {
        margin-bottom: 34px;
    }
}

/* TODO re-evaluate 
.page-background {
    background-image: linear-gradient(to bottom, transparent, #fafafa),
        url('resources/images/background.png');
    height: 94vh;
} */
