.slds-card {
    margin-bottom: 1rem;
}

.slds-truncate {
    max-width: 200px;
}

.slds-button_icon .slds-button__icon {
    width: 1rem;
    height: 1rem;
}

.slds-spinner_container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
    background-color: rgba(255, 255, 255, 0.75);
}

.slds-dl_horizontal__detail {
    margin-bottom: 0.5rem;
}

.contact-row {
    cursor: pointer;
}

.contact-row:hover {
    background-color: #f3f2f2;
}

.contact-row td:last-child {
    cursor: default;
}
